 body{
      margin: 0px;
      font-family: 'Montserrat', sans-serif;
}

header{}      

.announcment{
            background-color: #00bcd4;
            padding: 15px 30px;      
} 

.announcment p{
               margin: 0;
               color: black;
               padding: 15px 30px;
               text-align: center;
               font-size: 49px;
               text-transform: uppercase;
               letter-spacing: 10px;
}
.menu{    
      border-bottom: solid #000000
}

ol{
    text-align: center;
}

ol li{
      display: inline-block;
}
ol li a{
       font-size: 30px;
       color: #00bcd4;
       border-radius: 20px;
       padding: 12px 15px;
       text-decoration: none;
       display: block;
       border: solid #00bcd4;
       transition-duration: 0.2s;
}


ol li a:hover{
              border-left: solid #00bcd400 2px;
              border-right: solid #00bcd400 2px;
              background-color: #00bcd4;
              color: #fff;
}
.banner-section{
                padding: 50px 0;
                background-color: #f3efd0;
}
.banner{
        margin-left: auto;
        margin-right: auto;
        width: 1000px;
}
.banner img{
            margin-left: auto;
            margin-right: auto;
            max-width: 100%;
            border-radius: 20px;
            box-shadow: 0px 0px 60px 0px black;
            transition: all 0.3s cubic-bezier(1, -0.19, 0.14, 1.21);
}
.banner img:hover{
                  box-shadow: 0px 0px 0px 0px black;
}
.content-section{
                 padding: 70px 0;
}
.content{
         width: 60%;
         margin: auto;
}
.content h1{    
            font-size: 73px;
            margin: 0;
            color: #73944c;
}
.content h2{
            font-size: 40px;
            margin: 0;
            color: #73944c;

}

.content p{
          font-size: 22px;
          padding: 10px;
}